.caja{
    background-color: cornflowerblue;
    /* width: 10rem;
    height: 10rem; */
    border: 2px solid rgb(18, 42, 88);
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 5rem;
}

.display-flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row-reverse;
}

.col{
    display: flex;
    flex-direction: column-reverse;
}

.row-jc{
    display: flex;
    flex-direction: row;
    /*alinea horizontalmente*/
    justify-content: center;

}

.col-jc{
    display: flex;
    height: 80rem;
    flex-direction: column;
    justify-content: space-around;
}

.row-ai{ 
    /*ALINEACIÓN VERTICAL*/
    display: flex;
    height: 70rem;
    align-items: flex-start;

}

.col-ai{
    /*alineación horizontal*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.resumen-ja{
    /*https://flexboxfroggy.com/#es*/
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbasis{
    display: flex;
}

.flexbasis .caja{
    flex-basis: 33.3%;
    /* flex-basis: 200px; */
}

.gap-calc{
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}

.gap-calc .caja{
    padding: 0;
    flex-basis: calc( 33.3% - 1rem); /*sin gap*/
    /* flex-basis: calc(80px * 3); con gap */
}

.diversos-anchos{
    display: flex;
    justify-content: space-between;
}

.diversos-anchos .caja:nth-child(1){
    flex-basis: calc(50% - 1rem);
}

.diversos-anchos .caja:nth-child(2),
.diversos-anchos .caja:nth-child(3){
    flex-basis: calc(25% - 1rem);
}


.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

}

.flex-wrap .caja{
    flex-basis: 25%;
}

.flex-grow{
    display: flex;
    flex-direction: row;
}

.flex-grow .caja{
    flex-grow: 1; /*cantidad de pixeles que va a crecer cada elemento*/
    /*flex-grow: 0 es el valor por default*/
}

.flex-grow-variable{
    display: flex;
}

.flex-grow-variable .caja:nth-child(1){
    flex-grow: 3;
}

.flex-grow-variable .caja:nth-child(2){
    flex-grow: 1;
}

.flex-grow-variable .caja:nth-child(3){
    flex-grow: 1;
}

.flex-shrink{
    display: flex;
}

.flex-shrink .caja{
    flex-grow: 1;
    flex-basis: 300px;
}

.flex-shrink .caja:nth-child(3){
    flex-shrink: 2; /*ser hará pequeño más rápido*/
}

.flex-shorthand{
    display: flex;
    /*justify-content: space-between;*/
    column-gap: 1rem;
}

.flex-shorthand .caja{
    /*
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 33.3%;
    */

    flex: 1 2 33.3%;
    /*para 3 columnas con space-between*/
    flex: 0 0 calc(33.3% - 1rem);

    /*para 3 columna con gap*/
    flex: 0 0 33.3%;
}
