.caja{
    background-color: cornflowerblue;
    width: 10rem;
    height: 10rem;
    border: 2px solid rgb(18, 42, 88);
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 5rem;
}

.display-flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row-reverse;
}

.col{
    display: flex;
    flex-direction: column-reverse;
}

.row-jc{
    display: flex;
    flex-direction: row;
    /*alinea horizontalmente*/
    justify-content: center;

}

.col-jc{
    display: flex;
    height: 80rem;
    flex-direction: column;
    justify-content: space-around;
}

.row-ai{ 
    /*ALINEACIÓN VERTICAL*/
    display: flex;
    height: 70rem;
    align-items: flex-start;

}

.col-ai{
    /*alineación horizontal*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
}