.caja{
    background-color: cornflowerblue;
    /* width: 10rem;
    height: 10rem; */
    border: 2px solid rgb(18, 42, 88);
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 5rem;
}

.display-flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row-reverse;
}

.col{
    display: flex;
    flex-direction: column-reverse;
}

.row-jc{
    display: flex;
    flex-direction: row;
    /*alinea horizontalmente*/
    justify-content: center;

}

.col-jc{
    display: flex;
    height: 80rem;
    flex-direction: column;
    justify-content: space-around;
}

.row-ai{ 
    /*ALINEACIÓN VERTICAL*/
    display: flex;
    height: 70rem;
    align-items: flex-start;

}

.col-ai{
    /*alineación horizontal*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.resumen-ja{
    /*https://flexboxfroggy.com/#es*/
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbasis{
    display: flex;
}

.flexbasis .caja{
    flex-basis: 33.3%;
    /* flex-basis: 200px; */
}

.gap-calc{
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}

.gap-calc .caja{
    padding: 0;
    flex-basis: calc( 33.3% - 1rem); /*sin gap*/
    /* flex-basis: calc(80px * 3); con gap */
}

.diversos-anchos{
    display: flex;
    justify-content: space-between;
}

.diversos-anchos .caja:nth-child(1){
    flex-basis: calc(50% - 1rem);
}

.diversos-anchos .caja:nth-child(2),
.diversos-anchos .caja:nth-child(3){
    flex-basis: calc(25% - 1rem);
}